geometry_exporter/SolarGAN/bin/Debug/net48/*
geometry_exporter/SolarGAN/obj/Debug/net48/*
hops_test/outputs/idgan5/chkpts/model_00499999.pt
hops_test/*.PNG
hops_test/cubemap/
zurich_gen_mean_*.txt
*.pyc
